@mixin padding( $direction:all, $size: 15px) {
    @if $direction == all {
      padding: $size;
    } @else {
      padding-#{$direction}: $size;
    }
  }

@mixin border($direction:all, $width:1px, $style:solid, $color:$gray-color){
  @if $direction == all {
    border: $width $style $color;
  } @else {
    border-#{$direction}: $width $style $color;
  }
  
}

@mixin flex($align:center, $justify:initial,$wrap: initial,$direction: initial) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-wrap: $wrap;
  flex-direction: $direction;
}

@mixin width-height($width:auto, $height:auto){
  width:$width;
  height:$height;
}

@mixin transition{
  transition: .2s linear;
}