@import "tools/_mixins";
@import "config/_colors";
@import "config/_fonts";


.c-btn{
    cursor: pointer;
    border: none;
    background: transparent;
    &--search{
        position: absolute;
        top: 50%;
        right: 10px;
        padding: 0;
        transform: translate(0,-50%);
    }  
}