@import "tools/_mixins";
@import "config/_colors";
@import "config/_fonts";


.c-btn{
    cursor: pointer;
    border: none;
    background: transparent;
    &:focus{
        outline:none;
    }
    &--search{
        @include absolute(50%, 10px);
        @include padding(all,0);
        transform: translate(0,-50%);
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
    }  
}