@import "tools/_mixins";
@import "config/_colors";
@import "config/_fonts";

.c-cart {
    @include relative;
    text-align: right;
    &__label {
        font-weight: $bold;
        @include relative(-13px);
        @media screen and (max-width: $md-screen) {
            display: block;
            @include relative(5px, null, null, 0px);
        }
    }
    &__counter {
        @include relative;
        @media screen and (max-width: $md-screen) {
            @include absolute(null, 35px, 35px);
        }
    }
}
