@import "tools/_mixins";
@import "config/_colors";
@import "config/_fonts";

.c-link {
    color: $dark-color;
    font-size: $sm-font;
    text-decoration: none;
    @include transition();
    &:hover {
        color: $main-color;
    }
    &--bar {
        @include width-height(auto, 100%);
        @include flex();
        @media screen and (max-width: $sm-screen) {
            @include width-height(100%);
            @include flex(center, center);
        }
    }
    &--logs {
        @include border(right);
        @media screen and (max-width: $sm-screen) {
            @include border(left);
            @include border(top);
        }
        &:first-child {
            @include border(left);
        }
    }
}
