@import "tools/_mixins";
@import "config/_colors";
@import "config/_fonts";

.c-link{
    color: $dark-color;
    font-size: $sm-font;
    text-decoration: none;
    @include transition();
    &:hover{
        color: $main-color;
    }
    &--bar{
        @include flex();
        @include width-height(auto, 100%);
    }
    &--logs{
        @include border(right);
        &:first-child{
            @include border(left); 
        }
    }


}