@import "tools/_mixins";
@import "config/_colors";
@import "config/_fonts";

.l-header {
    &__box {
        @include flex(center);
        @include flex-basis(50%);
        @media screen and (max-width: $sm-screen) {
            @include flex-direct(column);
        }
        &--logs {
            @include flex(center, flex-end);
        }
    }

    &__content {
        @include padding(all, 35px 0 40px);
        @media screen and (max-width: $lg-screen){
            @include padding(all, 35px 20px 40px);  
        }
        @media screen and (max-width: $md-screen) {
            @include padding(all, 0 15px);
            .c-container {
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            }
        }
    }
    &__bar {
        @include border();
    }
    &__bar-btn {
        @include width-height(auto, 40px);
        @include padding(all, 0 20px);
        @include flex();
        &--first {
            @media screen and (min-width: $lg-screen) {
                @include padding(all, 0);
            }
        }
    }
    &__logo {
        @include flex-basis(35%);
        @media screen and (max-width: $md-screen) {
            @include padding(all, 10px);
            @include flex-basis(100%);
            margin-bottom: 15px;
        }
    }
    &__search {
        @include flex-basis(45%);
        @include relative;
        @media screen and (max-width: $md-screen) {
            @include flex-basis(65%);
        }
        @media screen and (max-width: $sm-screen) {
            @include flex-basis(100%);
            order: 3;
        }
    }
    &__cart {
        @include flex-basis(20%);
        @include padding(all, 10px 20px);
        @media screen and (max-width: $md-screen) {
            @include padding(all, 10px 5px);
            text-align: right;
        }
        @media screen and (max-width: $sm-screen) {
            @include flex-basis(100%);
            margin-bottom: 40px;
        }
    }
}
