@import "tools/_mixins";
@import "config/_colors";
@import "config/_fonts";

.l-header {
    &__box{
        @include width-height(100%,40px);
        @include flex(center);
        &--logs{
            justify-content: flex-end;
        }
    }

    &__content{
        @include padding(all,35px 0 40px);
    }

    &__bar{
        @include width-height($height:100%);
        @include border();
    }
    &__bar-btn{
        @include padding(all, 0 20px);
        @include flex();
        &--first{
            @include padding(all, 0)
        }
    }
    &__logo{
        flex-basis: 35%;
    }
    &__search {
        flex-basis: 45%; 
    }
    &__cart{
        flex-basis: 20%;
        @include padding(10px);
    }
}


